<!-- wp:template-part {"slug":"header","tagName":"header","className":"spa-header-part"} /-->

<!-- wp:group {"tagName":"main","className":"spa-main spa-archive-page","layout":{"type":"default"}} -->
<main class="wp-block-group spa-main spa-archive-page"><!-- wp:spa/video-grid /-->

<!-- wp:spa/subscribe-cta {"placement":"archive"} /-->

<!-- wp:spa/newsletter {"placement":"archive"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"spa-footer-part"} /-->
